<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>Login</h1>
        <form id="loginForm">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
        <p th:text="${message}"></p>
        <div class="signup-link">
            <a th:href="@{/singup}">Don't have an account? Sign Up</a>
        </div>

    </div>
</body>
</html>